<div>
  <div class="col-md-4 col-md-offset-4 col-sm-12" style="margin-top:50px">
    <div class="login-form" class="main">
      <div *ngIf="user.isLogin">
        <div class="form-group">
          <label>User Name</label>
          <input type="text" class="form-control" maxlength="maxLength" placeholder="User Name"
            [(ngModel)]="user.userName">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password">
          <small class="cursor-pointer"><code (click)="isLogin=!isLogin">I dont have an account</code></small>
        </div>
        <button type="submit" class="btn btn-black" (click)="performOperation()">Login</button>
      </div>
      <!-- this is the registration page which does show on flag of isLogin -->
      <div *ngIf="!user.isLogin">
        <div class="form-group">
          <label>User Name</label>
          <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="user.userName">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password">
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.confirmPassword">
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email">
          <small class="cursor-pointer"><code (click)="isLogin=!isLogin">I already have an account</code></small>
        </div>
        <button type="submit" class="btn btn-secondary margin-left-lg" (click)="performOperation()">Register</button>
      </div>
    </div>
  </div>
</div>